<main>
  <!-- In case of error, you should display div with class "errorContainer" -->
  <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->

  {{#if errors}}
    <div class="errorContainer">
      {{#each errors}}
        <p>{{this}}</p>
      {{/each}}
    </div>
  {{/if}}

  <div class="login-box">
    <h1>Login</h1>
    <form method="POST">
      <label>Email</label>
      <input
        type="text"
        id="email"
        name="email"
        placeholder="Email.."
        value="{{email}}"
      />
      <label>Password</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password.."
      />
      <input type="submit" value="Submit" />
    </form>
    <p>
      Not have an account?
      <a href="/users/register">Register here</a>
    </p>
  </div>
</main>