<header>
  <nav>
    <ul class="navigation">
      <li><a href="/">Home Page</a></li>
      <li><a href="/cats/add-breed">Add Breed</a></li>
      <li><a href="/cats/add-cat">Add Cat</a></li>
    </ul>
  </nav>
  <h1>Cat Shelter</h1>
</header>
<div
  class="container"
  style="text-align: center; height:80vh; width:70vw;display: flex; flex-direction:column; justify-content: center;align-items:center; margin: 0 auto"
>
  <img src="/images/404.png" alt="404 Cat Image" />
  <h1>Oops! Page Not Found</h1>
  <p>We couldn't find the page you were looking for. Maybe a
    mischievous cat knocked it off the internet!</p>
  <p>Don't worry, you can always go back to the home page
    and continue your purrfect adventure.</p>
  <a
    href="/"
    style="background-color: black;text-decoration:none;color:white; padding: 10px 15px; margin-top:20px"
  >Home</a>
</div>