<main>
  <h1>Browser</h1>
  <form action="/" method="GET">
    <input
      type="text"
      class="search"
      name="search"
      placeholder="Search..." value="{{search}}"
    />
    <input
      type="number"
      name="from"
      min="1"
      class="difficulty"
      placeholder="Difficulty from..."
      max="6"
      value="{{from}}"
    />
    <span>-</span>
    <input
      type="number"
      name="to"
      min="1"
      class="difficulty"
      placeholder="Difficulty to..."
      max="6"
      value={{to}}
    />
    <input type="submit" value="search" />
  </form>
  {{#if cubes}}
      {{#each cubes}}
          {{>cube}}
      {{/each}}
  {{else}}
    <h1>There are no cubes!</h1>
  {{/if}}
</main>