<main>
  <section class="crypto-market">
    <h1><span>Crypto</span> Trade</h1>
    {{#if offers}}
    <div class="offer-list">
      {{#each offers}}
      {{>coin}}
      {{/each}}
    </div>
    {{else}}
    <div class="no-offer">
      <p>There are no crypto offers found!</p>
    </div>
    {{/if}}
    </div>
  </section>
</main>