<main>

  <!-- In case of error, display the following div-->
  <!--

            <div class="error-box">
                <p>Show each error in a separate paragraph</p>
            </div>

            -->

  <!-- 404 Page -->
  <section id="catalog-section" class="narrow align-center padded">

    <h1 class="item">404 Not Found</h1>

    <div>
      <p>
        The requested item doesn't exist
      </p>
      <div class="align-center">
        <a class="action" href="#">Back to catalog</a>
      </div>
    </div>

  </section>

</main>